footer.page-footer
  a.page-footer__link(href="http://")
    img.page-footer__img(src="#", alt="Логотип Pink")

  ul.social-list
    li.social-list__item.social-icon
      img.social-icon__img(src="#", alt="Твитер")
    li.social-list__item.social-icon
      img.social-icon__img(src="#", alt="Фейсбук")
    li.social-list__item.social-icon
      img.social-icon__img(src="#", alt="Ютуб")

  ul.dev-list
    li.dev-list__item Разработано
      img.dev-list__img(src="#" alt="HTML Academy")
