header.page-header
  a.page-header__logo(href="")
    img(src="", alt="")
  nav.main-nav
    button.main-nav__toggle(type="button")
      span.visually-hidden Открыть меню
    .main-nav--wrapper
      ul.main-nav__list.site-list
        li.site-list__item
          a(href="") Главная
        li.site-list__item
          a(href="") Фотографии
        li.site-list__item
          a(href="") Конкурс
        li.site-list__item
          a(href="") HTML Academy

  