header.page-header.no-js
  nav.main-nav.main-nav--static
    .main-nav__top.main-nav__top--opacity
      a.main-nav__logo(href="index.html")
      button.main-nav__toggle(type="button")
        svg.main-nav__close(width="24" height="24")
          use(xlink:href="img/svg/sprite-index.svg#close")
        svg.main-nav__open.main-nav__open--hidden(width="50" height="24")
          use(xlink:href="img/svg/sprite-index.svg#open")
        span.visually-hidden Открыть меню
    ul.main-nav__list.site-list.main-nav__list--close.main-nav__list--close-hidden
      block link-list


