block var

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" type="text/html" href="css/normalize.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    block header
      include header
    block content
    block footer
      include footer
    block scripts
      script(src="js/main.min.js")
      