body {
  position: relative;
  margin: 0;
  min-width: 265px;
  padding-right: calc((100% - 1200px) / 2);
  padding-left: calc((100% - 1200px) / 2);
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

@import "mixins/mixins";

@import "utils/variables";

@import "utils/fonts";

@import "utils/global";

@import "common/header";

@import "common/photo/photo-gallery";

@import "common/form/contest-header";

@import "common/form/contest-label";

@import "common/form/contest-input";

@import "common/form/form-name";

@import "common/form/contest-fieldset";

@import "common/form/contest-legend";

@import "common/form/form-achievement";

@import "common/form/achievement-wrapper";

@import "common/form/contacts-wrapper";

@import "common/form/form-contacts";

@import "common/form/app-wrapper";

@import "common/form/form-app";

@import "common/form/comment-wrapper";

@import "common/form/form-comment";

@import "common/form/btn-wrapper";

@import "common/form/btn-contest";

@import "common/form/note-block";

@import "common/footer";

