body {
  position: relative;
  margin: 0;
  min-width: 265px;
  padding-right: calc((100% - 1200px) / 2);
  padding-left: calc((100% - 1200px) / 2);
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

@import "mixins/mixins";

@import "utils/variables";

@import "utils/fonts";

@import "utils/global";

@import "common/header";

@import "common/photo/photo-gallery";

@import "common/form/contest-header";

@import "common/form/contest-label";

@import "common/form/contest-input";

@import "common/footer";

