.page-footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 285px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-width: 172px;
  max-width: 172px;
  padding: 0;
}

.social-list__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($mainColor, 0.1);
  border-radius: 50%;
  fill: $redColor;
  cursor: pointer;

  &:hover {
    border-color: $mainColor;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba($mainColor, 0.3);
  }
}

.logoFooter {
  fill: $mainColor;

  &:hover {
    fill: $redColor;
  }

  &:active {
    opacity: 0.3;
    fill: $mainColor;
  }
}

.dev-list__img {
  margin-left: 15px;
  fill: $redColor;

  &:hover {
    fill: $mainColor;
  }

  &:active {
    opacity: 0.3;
  }
}

.dev-list {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  padding-right: 95px;
  padding-left: 95px;
}

.dev-list__item {
  align-items: center;
  color: $mainColor;
  font-size: 14px;
  font-weight: 400;
}

@include media-tablet {
  .page-footer {
    box-sizing: border-box;
    flex-direction: row;
    height: 127px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .dev-list {
    min-width: 130px;
    max-width: 130px;
    padding: 0;
  }

  .dev-list__link {
    position: relative;
    top: 5px;
  }
}

@include media-desktop {
  .page-footer {
    height: 197px;
    padding-right: 130px;
    padding-left: 130px;
  }

  .dev-list {
    min-width: 152px;
    max-width: 152px;
  }

  .dev-list__item {
    font-size: 18px;
  }
}
