@keyframes downMenu {
  from {
    transform: translateY(-1000px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes upMenu {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1000px);
  }
}

.main-nav {
  position: absolute;
  width: 100%;
}

.no-js .main-nav--static {
  position: static;
}

.main-nav__top {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid hsl(0, 0%, 0%);
  background-color: $mainColor;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav__top--opacity {
  border: none;
  background-color: rgba($mainColor, 0.7);
}

.no-js .main-nav__top--opacity {
  background-color: rgba($mainColor, 1);
}

.main-nav__logo {
  width: 75px;
  height: 22px;
  background: url("../img/mobile/logo-mobile.svg") no-repeat;

  &:hover {
    background: url("../img/mobile/logo-mobile_hover.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
    background: url("../img/mobile/logo-mobile.svg") no-repeat;
  }
}

.main-nav__toggle {
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  fill: #ffffff;
  padding: 0;
  cursor: pointer;
}

.main-nav__close {
  width: 24px;
  height: 24px;
}

.main-nav__open {
  width: 50px;
  height: 24px;
}

.main-nav__close--hidden,
.main-nav__open--hidden {
  display: none;
}

.main-nav__close:hover,
.main-nav__open:hover {
  fill: $redColor;
}

.main-nav__close:active,
.main-nav__open:active {
  opacity: 0.3;
  fill: #ffffff;
}

.main-nav__list {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 70px;
  right: 1px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $mainColor;
}

.main-nav__list--close {
  animation: upMenu 0.6s;
}

.main-nav__list--close-hidden {
  display: none;
}

.no-js .main-nav__list--close-hidden {
  display: block;
  width: 100%;
}

.main-nav__list--open {
  display: block;
  animation: downMenu 0.6s;
}

.no-js .main-nav__list--static {
  position: static;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  box-sizing: border-box;
  width: 100%;
  height: 63px;
  border-top: 1px solid $greyColor;
  border-bottom: 1px solid #000000;
  border-left: 1px solid $greyColor;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.site-list__link {
  text-decoration: none;
  line-height: 65px;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    color: $redColor;
  }

  &:active {
    opacity: 0.3;
    color: #ffffff;
  }
}

@include media-tablet {
  .main-nav__top {
    height: 110px;
  }

  .main-nav__logo {
    width: 147px;
    height: 40px;
    background: url("../img/tablet/logo-tablet.svg") no-repeat;

    &:hover {
      background: url("../img/tablet/logo-tablet_hover.svg") no-repeat;
    }

    &:active {
      opacity: 0.3;
      background: url("../img/tablet/logo-tablet.svg") no-repeat;
    }
  }

  .main-nav__list {
    top: 110px;
  }
}

@include media-desktop {
  .page-header {
    margin: auto;
    max-width: 1200px;
  }

  .main-nav {
    box-sizing: border-box;
    display: flex;
    max-width: 1200px;
    border: none;
    background-color: rgba($mainColor, 0.7);
    padding-right: 125px;
    padding-left: 125px;
  }

  .main-nav__logo {
    background: url("../img/desktop/logo-desktop.svg") no-repeat;

    &:hover {
      background: url("../img/desktop/logo-desktop_hover.svg") no-repeat;
    }

    &:active {
      opacity: 0.3;
      background: url("../img/desktop/logo-desktop.svg") no-repeat;
    }
  }

  .main-nav__top {
    border: none;
    background: none;
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    position: static;
    // width: 630px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 170px;
    background: none;
  }

  .main-nav__list--close,
  .main-nav__list--open {
    animation: none;
  }

  .site-list__item {
    margin-right: 10px;
    width: auto;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }
}
