@keyframes downMenu {
  from {

    transform: translateY(-1000px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes upMenu {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1000px);
  }
}

.main-nav {
  position: absolute;
  width: 100%;
  border-left: 1px solid #000000;
}

.no-js .main-nav--static {
  position: static;
}

.main-nav__top {
  display: flex;
  box-sizing: border-box;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: $mainColor;
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

.main-nav__top--opacity {
  background-color: rgba($mainColor, .3);
  border: none;
}

.no-js .main-nav__top--opacity {
  background-color: rgba($mainColor, 1);
}

.main-nav__logo {
  width: 75px;
  height: 22px;
  background: url("../img/mobile/logo-mobile.svg") no-repeat;

  &:hover {
    background: url("../img/mobile/logo-mobile_hover.svg") no-repeat;
  }

  &:active {
    background: url("../img/mobile/logo-mobile.svg") no-repeat;
    opacity: 0.3;
  }
}

.main-nav__toggle {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  fill: #ffffff;
}

.main-nav__close {
  width: 24px;
  height: 24px;
}

.main-nav__open {
  width: 50px;
  height: 24px;
}

.main-nav__close--hidden,
.main-nav__open--hidden {
  display: none;
}

.main-nav__close:hover,
.main-nav__open:hover {
  fill: $redColor;
}

.main-nav__close:active,
.main-nav__open:active {
  fill: #ffffff;
  opacity: 0.3;
}

.main-nav__list {
  position: absolute;
  top: 70px;
  right: 1px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  // border-left: 1px solid #000000;
  background-color: $mainColor;
}

.main-nav__list--close {
  animation: upMenu 0.6s;
}

.main-nav__list--close-hidden {
  display: none;
}

.no-js .main-nav__list--close-hidden {
  display: block;
  width: 100%;
}

.main-nav__list--open {
  display: block;
  animation: downMenu 0.6s;
}

.no-js .main-nav__list--static {
  position: static;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  height: 63px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid $greyColor;
  border-left: 1px solid $greyColor;
}

.site-list__link {
  line-height: 65px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

@include media-tablet {

  .main-nav__top {
    height: 110px;
  }

  .main-nav__logo {
    width: 147px;
    height: 40px;
    background: url("../img/tablet/logo-tablet.svg") no-repeat;

    &:hover {
      background: url("../img/tablet/logo-tablet_hover.svg") no-repeat;
    }

    &:active {
      background: url("../img/tablet/logo-tablet.svg") no-repeat;
      opacity: 0.3;
    }
  }

  .main-nav__list {
    top: 110px;
  }
}
