extends common/layout

block var
  -var title = "Конкурс"

block append head
  link(rel="stylesheet", href="css/style.css")

block append link-list
  li.site-list__item
    a.site-list__link(href="index.html") Главная
  li.site-list__item
    a.site-list__link(href="photo.html") Фотографии
  li.site-list__item
    a.site-list__link.site-list__link--active(href="") Конкурс
  li.site-list__item
    a.site-list__link(href="https://htmlacademy.ru/") HTML Academy

block content
  main.contest-content
    h1.contest-header Конкурс на самое безбашенное путешествие с Пинк
    p Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
    form.contest-form(action="")
      .form-name
        label.form-name__label(for="surname") Фамилию:
        input#sirname.form-name__input(type="text", name="surname" placeholder="Укажите фамилию *" required)
        label.form-name__label(for="name") Имя:
        input#name.form-name__input(type="text", name="name" placeholder="Введите ваше имя *" required)
        label.form-name__label(for="patronymic")
        input#patronymic.form-name__input(type="text", name="patronymic" placeholder="Ну и отчество тоже")
      .achievement-wrapper
        fieldset.achievement-fieldset
          legend.achievement-fieldset__legend Ваши безбашенные достижения в путешествии
          .form-achievement
            input#selfie.form-achievement__input(type="checkbox", name="selfie" checked)
            label.form-achievement__label(for="selfie") Сделал селфи с акулой
            input#suntan.form-achievement__input(type="checkbox", name="suntan" checked)
            label.form-achievement__label(for="suntan") Обгорел на пляже
            input#chuck.form-achievement__input(type="checkbox", name="chuck")
            label.form-achievement__label.(for="chuck") Видел Чака Норриса
            input#souvenir.form-achievement__input(type="checkbox", name="souvenir")
            label.form-achievement__label(for="souvenir") Накупил сувениров
            input#tower.form-achievement__input(type="checkbox", name="tower" checked)
            label.form-achievement__label(for="tower") Удераж башню
            input#destroy.form-achievement__input(type="checkbox", name="destroy")
            label.form-achievement__label(for="destroy") Разгромил отель
      .contacts-wrapper
        fieldset.contacts-fieldset
          legend.contacts-fieldset__legend Контактная информация
          .form-contacts
            label.form-contacts__label(for="phone") Номер телефона
            input#phone.form-contacts__input(type="tel", name="phone")
            label.form-contacts__label(for="mail") Адрес электронной почты
            input#mail.form-contacts__input(type="email", name="mail")
      .app-wrapper
        fieldset.app-fieldset
          legend.app-fieldset__legend С каким приложением путшествовали
          .form-app
            input#ios.form-app__input(type="radio", name="app" checked)
            label.form-app__label(for="ios") Pink для iOS
            input#android.form-app__input(type="radio", name="app")
            label.form-app__label(for="android") Pink для Android
            input#win.form-app__input(type="radio", name="app")
            label.form-app__label(for="win") Windows Phone
      .comment-wrapper
        fieldset.comment-fieldset
          legend.comment-fieldset__legend Опишите свои эмоции
          .form-comment
            textarea.form-comment__textarea(name="comment", cols="30", rows="10" placeholder="Можно прям в красках, не стесняясь в выражениях")
      button.btn-contest(type="submit") Отправить форму
      span.note * - обязательные поля


