extends common/layout

block var
  -var title = "Конкурс"

block append head
  link(rel="stylesheet", href="css/style.css")

block append link-list
  li.site-list__item
    a.site-list__link(href="index.html") Главная
  li.site-list__item
    a.site-list__link(href="photo.html") Фотографии
  li.site-list__item
    a.site-list__link.site-list__link--active(href="") Конкурс
  li.site-list__item
    a.site-list__link(href="https://htmlacademy.ru/") HTML Academy

block content
  main.contest-content
    h1.contest-header Конкурс на самое безбашенное путешествие с Пинк
    p.contest-header__text Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
      span.contest-header__text--hide  Пожалуйста, заполните форму ниже:
    form.contest-form(action="")
      .form-name
        .input-wrapper
          label.contest-label.contest-label--text(for="surname") Фамилию:
          input#sirname.contest-input.contest-input--text(type="text", name="surname" placeholder="Укажите фамилию *" required)
        .input-wrapper
          label.contest-label.contest-label--text(for="name") Имя:
          input#name.contest-input.contest-input--text(type="text", name="name" placeholder="Введите ваше имя *" required)
        .input-wrapper
          label.contest-label.contest-label--text(for="patronymic") Отчество:
          input#patronymic.contest-input.contest-input--text(type="text", name="patronymic" placeholder="Ну и отчество тоже")
      .achievement-wrapper
        fieldset.contest-fieldset
          legend.contest-legend Ваши безбашенные достижения в путешествии
          .form-achievement
            .input-wrapper
              input#selfie.contest-input.contest-input--hide(type="checkbox", name="selfie" checked)
              label.contest-label.contest-label--check(for="selfie") Сделал селфи с акулой
            .input-wrapper
              input#suntan.contest-input.contest-input--hide(type="checkbox", name="suntan" checked)
              label.contest-label.contest-label--check(for="suntan") Обгорел на пляже
            .input-wrapper
              input#chuck.contest-input.contest-input--hide(type="checkbox", name="chuck")
              label.contest-label.contest-label--check(for="chuck") Видел Чака Норриса
            .input-wrapper
              input#souvenir.contest-input.contest-input--hide(type="checkbox", name="souvenir")
              label.contest-label.contest-label--check(for="souvenir") Накупил сувениров
            .input-wrapper
              input#tower.contest-input.contest-input--hide(type="checkbox", name="tower" checked)
              label.contest-label.contest-label--check(for="tower") Удераж башню
            .input-wrapper
              input#destroy.contest-input.contest-input--hide(type="checkbox", name="destroy")
              label.contest-label.contest-label--check(for="destroy") Разгромил отель
      .contacts-wrapper
        fieldset.contest-fieldset
          legend.contest-legend.contest-legend--hide Контактная информация
          .form-contacts
            .input-wrapper
              label.contest-label.contest-label--text.contest-label--padding-min(for="phone") Номер телефона
              input#phone.contest-input.contest-input--text(type="tel", name="phone" placeholder="Номер, пожалуйста")
            .input-wrapper
              label.contest-label.contest-label--text.contest-label--padding-min(for="mail") Адрес электронной почты
              input#mail.contest-input.contest-input--text(type="email", name="mail" placeholder="Введите почту *")
      .app-wrapper
        fieldset.contest-fieldset
          legend.contest-legend С каким приложением путшествовали?
          .form-app
            .input-wrapper
              input#ios.contest-input.contest-input--hide(type="radio", name="app" checked)
              label.contest-label.contest-label--radio(for="ios") Pink для iOS
            .input-wrapper
              input#android.contest-input.contest-input--hide(type="radio", name="app")
              label.contest-label.contest-label--radio(for="android") Pink для Android
            .input-wrapper
              input#win.contest-input.contest-input--hide(type="radio", name="app")
              label.contest-label.contest-label--radio(for="win") Windows Phone
      .comment-wrapper
        fieldset.contest-fieldset
          legend.contest-legend Опишите свои эмоции
          .form-comment
            textarea.form-comment__textarea(name="comment", cols="30", rows="10" placeholder="Можно прям в красках, не стесняясь в выражениях")
      .btn-wrapper
        button.btn-contest(type="submit") Отправить форму
        .note-block
          <span class="note-block__elem">*</span> - обязательные поля
