extends common/layout

block var
  -var title = "Конкурс"

block append head
  link(rel="stylesheet", href="css/style.css")

block append link-list
  li.site-list__item
    a.site-list__link(href="index.html") Главная
  li.site-list__item
    a.site-list__link(href="photo.html") Фотографии
  li.site-list__item
    a.site-list__link.site-list__link--active(href="") Конкурс
  li.site-list__item
    a.site-list__link(href="https://htmlacademy.ru/") HTML Academy

block content
  main.contest-content
    h1.contest-header Конкурс на самое безбашенное путешествие с Пинк
    p.contest-header__text Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
      span.contest-header__text--hide  Пожалуйста, заполните форму ниже:
    form.contest-form(action="")
      .form-name
        label.contest-label.contest-label--red(for="surname") Фамилию:
        input#sirname.contest-input.contest-input--text(type="text", name="surname" placeholder="Укажите фамилию *" required)
        label.contest-label.contest-label--red(for="name") Имя:
        input#name.contest-input.contest-input--text(type="text", name="name" placeholder="Введите ваше имя *" required)
        label.contest-label.contest-label--red(for="patronymic") Отчество:
        input#patronymic.contest-input.contest-input--text(type="text", name="patronymic" placeholder="Ну и отчество тоже")
      .achievement-wrapper
        fieldset.contest-fieldset
          legend.contest-legend Ваши безбашенные достижения в путешествии
          .form-achievement
            input#selfie.contest-input.context-input--check(type="checkbox", name="selfie" checked)
            label.contest-label(for="selfie") Сделал селфи с акулой
            input#suntan.contest-input.context-input--check(type="checkbox", name="suntan" checked)
            label.contest-label(for="suntan") Обгорел на пляже
            input#chuck.contest-input.context-input--check(type="checkbox", name="chuck")
            label.contest-label(for="chuck") Видел Чака Норриса
            input#souvenir.contest-input.context-input--check(type="checkbox", name="souvenir")
            label.contest-label(for="souvenir") Накупил сувениров
            input#tower.contest-input.context-input--check(type="checkbox", name="tower" checked)
            label.contest-label(for="tower") Удераж башню
            input#destroy.contest-input.context-input--check(type="checkbox", name="destroy")
            label.contest-label(for="destroy") Разгромил отель
      .contacts-wrapper
        fieldset.contest-fieldset
          legend.contest-legend Контактная информация
          .form-contacts
            label.contest-label.contest-label--red(for="phone") Номер телефона
            input#phone.contest-input.contest-input--text(type="tel", name="phone")
            label.contest-label.contest-label--red(for="mail") Адрес электронной почты
            input#mail.contest-input.contest-input--text(type="email", name="mail")
      .app-wrapper
        fieldset.contest-fieldset
          legend.contest-legend С каким приложением путшествовали
          .form-app
            input#ios.contest-input.contest-input--radio(type="radio", name="app" checked)
            label.contest-label(for="ios") Pink для iOS
            input#android.contest-input.contest-input--radio(type="radio", name="app")
            label.contest-label(for="android") Pink для Android
            input#win.contest-input.contest-input--radio(type="radio", name="app")
            label.contest-label(for="win") Windows Phone
      .comment-wrapper
        fieldset.contest-fieldset
          legend.contest-legend Опишите свои эмоции
          .form-comment
            textarea.form-comment__textarea(name="comment", cols="30", rows="10" placeholder="Можно прям в красках, не стесняясь в выражениях")
      button.btn-contest(type="submit") Отправить форму
      span.note * - обязательные поля
