extends common/layout

block var
  -var title = 'Главная страница'

block append head
  link(rel="stylesheet", href="css/style-index.css")

block append link-list
    li.site-list__item
      a.site-list__link.site-list__link--active(href="") Главная
    li.site-list__item
      a.site-list__link(href="photo.html") Фотографии
    li.site-list__item
      a.site-list__link(href="form.html") Конкурс
    li.site-list__item
      a.site-list__link(href="https://htmlacademy.ru/") HTML Academy

block content
  main.main-content
    h1.visually-hidden Пинк

    section.banner
      .banner__wrapper
        h2.banner__caption
          | Взгляните
          br
          | на жизнь
          br
          | иначе!
        button.banner__button Скачать приложение
        ul.banner__brand-list.brand
          li
            a.brand__link
              img.banner__brand-item.brand__apple(src="../img/svg/logo-apple.svg" alt="иконка Apple" width="47" height="56")
          li
            a.brand__link
              img.banner__brand-item.brand__android(src="../img/svg/logo-android.svg" alt="иконка Anrdoid" width="43" height="47")
          li
            a.brand__link
              img.banner__brand-item.brand__windows(src="../img/svg/logo-windows.svg" alt="иконка Windows" width="44" height="41")
        p.banner__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows8

    section.features
      h2.visually-hidden Преимущества приложения
      p.features__slogan Устали от серости мегаполиса?
      p.features__slogan Нам есть, что вам
        span.features__slogan--br предложить!
      .features__block
        ul.features__list-img
          li.features__item.features__item--first
          li.features__item.features__item--second
          li.features__item.features__item--third
        ul.features__list
          li.features__item.features__item--text.item
            h3.item__header Поднимает настроение
            p.item__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          li.features__item.features__item--text.item
            h3.item__header  Меняет мир вокруг
            p.item__text  Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
          li.features__item.features__item--last.features__item--text.item
            h3.item__header  Заводит новых друзей
            p.item__text.item__text--last  Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
        .features__iphone <!-- картика iphone (фоном) -->
      .features__jog.jog
        h3.jog__header Эффект
          span.jog__header--br на 24 часа!
        p.jog__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
        a.jog__link(href="#") Узнать больше об исследовании

    section.comment
      h2.visually-hidden Отзывы о приложении
      ul.comment-list
        li.comment-list__item
          blockquote.comment-list__review.review
            p.review__block &laquo;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&raquo;
            p.review__name Николай Петров
            p.review__age 25 лет, водитель трамвая
      .nav-arrow.nav-arrow--left
      .nav-arrow.nav-arrow--right
      p.control.control--comment
        input#comment_1.control__item(type="radio", name="comment" checked)
        label.control__label(for="comment_1")
        input#comment_2.control__item(type="radio", name="comment")
        label.control__label(for="comment_2")
        input#comment_3.control__item(type="radio", name="comment")
        label.control__label(for="comment_3")

    section.price.price--mobile
      h2.visually-hidden Цены на приложение

      table.price__table.price__table--mobile
        thead.price__table-head
          tr.price__table-row
            th.price__table-cell--hide
            th#slide_1.price__table-cell
              span.price__table-tariff База
              span.price__table-cost 1,99 USD
            th#slide_2.price__table-cell.price__table-cell--hit
              img.price__table-hit(src="img/svg/hit.svg", alt="хит продаж" width="74" height="73")
              span.price__table-tariff Стандарт
              span.price__table-cost 3.99 USD
            th#slide_3.price__table-cell
              span.price__table-tariff Анлим
              span.price__table-cost 9,99 USD
        tbody.price__table-body
          tr.price__table-row
            td.price__table-cell.price__table-cell--mobile Розовый фильтр
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Розовый фильтр
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Розовый фильтр
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Розовый фильтр
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")
          tr.price__table-row
            td.price__table-cell.price__table-cell--mobile Смайлики
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Смайлики
                img(src="../img/svg/no.svg", alt="Нет" width="27" height="26")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Смайлики
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Смайлики
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")
          tr.price__table-row
            td.price__table-cell.price__table-cell--mobile Комментарии
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Комментарии
                img(src="../img/svg/no.svg", alt="Нет" width="27" height="26")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Комментарии
                img(src="../img/svg/no.svg", alt="Нет" width="27" height="26")
            td.price__cell-wrapper
              .price__table-cell.price__table-cell--inner
                span.price__table-opt Комментарии
                img(src="../img/svg/yes.svg", alt="Да" width="31" height="21")

      p.control.control--price
        input#price_1.control__item(type="radio", name="price")
        label.control__label(for="price_1")
        input#price_2.control__item(type="radio", name="price" checked)
        label.control__label(for="price_2")
        input#price_3.control__item(type="radio", name="price")
        label.control__label(for="price_3")

    section.contacts
      h2.visually-hidden Как с нами связаться
      p.contacts__text Остались вопросы? Свяжитесь с нами!
      .contacts__inner
        .contacts__tel.telephone
          p.telephone__text Звоните:
          p.telephone__num +7 (812) 555-66-66
        .contacts__adress.adress
          p.adress__text Приезжайте в гости:
          p.adress__adress ул. Большая Конюшенная, 19/8
        .contacts__email.email
          p.email__text Пишите:
          p.email__email mail@htmlacademy.ru
      .contacts__map
        <div style="position:relative;overflow:hidden;";>
        <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a>
        <a href="https://yandex.ru/maps/2/saint-petersburg/house/bolshaya_konyushennaya_ulitsa_19_8/Z0kYdQVjSEQPQFtjfXVyeXpgYQ==/?ll=30.323117%2C59.938635&utm_medium=mapframe&utm_source=maps&z=17.09" style="color:#eee;font-size:12px;position:absolute;top:14px;">Большая Конюшенная улица, 19/8 — Яндекс.Карты</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CKaNbWZX" width="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
