extends common/layout
include common/mixins

block var
  //- -var Фото
  -var title = "Фотографии"

block append head
  link(rel="stylesheet", href="css/style.css")

block append link-list
    li.site-list__item
      a.site-list__link(href="index.html") Главная
    li.site-list__item
      a.site-list__link.site-list__link--active(href="") Фотографии
    li.site-list__item
      a.site-list__link(href="form.html") Конкурс
    li.site-list__item
      a.site-list__link(href="https://htmlacademy.ru/") HTML Academy

block content
  main.photo-content
    h1.photo-content__header Фотографии пользователей
    p.photo-content__header-text Взгяните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

    section.photo-banner
      h2.visually-hidden Фотографии
      .gallery__item.gallery__item--photo-day
        +img-picture('panorama', 'true', alt="Панорама")
        .gallery__review.review.review--photo-day
          .review__head
            span.review__name Анна
            span.review__time  (5 минут назад)
          span.review__like.review__like--photo-day Нравится: 215
          p.review__text.review__text--photo-day Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!

      ul.gallery
        li.gallery__item
          figure.gallery__block
            +img-picture('1')
            figcaption.gallery__review.review
              .review__head
                span.review__name Левон
                span.review__time  (5 часов назад)
              span.review__like Нравится: 356
              p.review__text Вчера он на луну летал, сегодня в руки к нам попал.

        li.gallery__item
          figure.gallery__block
            +img-picture('2')
            figcaption.gallery__review.review
              .review__head
                span.review__name Антон
                span.review__time  (12 часов назад)
              span.review__like Нравится: 666
              p.review__text Соседи будут рады!

        li.gallery__item
          figure.gallery__block
            +img-picture('3')
            figcaption.gallery__review.review
              .review__head
                span.review__name Борис
                span.review__time  (20 часов назад)
              span.review__like Нравится: 215
              p.review__text Здесь могла быть ваша цитата о высоком и вечном

        li.gallery__item
          figure.gallery__block
            +img-picture('4')
            figcaption.gallery__review.review
              .review__head
                span.review__name Сергей
                span.review__time  (25 часов назад)
              span.review__like Нравится: 4
              p.review__text Самая кубанская в мире!

        li.gallery__item
          figure.gallery__block
            +img-picture('5')
            figcaption.gallery__review.review
              .review__head
                  span.review__name Максим
                  span.review__time  (40 часов назад)
              span.review__like Нравится: 150
              p.review__text Где снег-то?

        li.gallery__item
          figure.gallery__block
            +img-picture('6')
            figcaption.gallery__review.review
              .review__head
                span.review__name Надежда
                span.review__time  (45 часов назад)
              span.review__like Нравится: 2560
              p.review__text Всем GM и взаимные лайки!
      p.photo-content__slogan Затмите их всех! <br> Выкладывайте все, что накопилось в телефоне!
    section.photo-filter
      +img-picture-filter('7')
      form.photo-form(action="")
        .filter-block

          .filter-block__wrapper
            label.filter-img.filter-img--active(for="crop")
              svg(width="44" height="44")
                use(xlink:href="img/svg/sprite-filter.svg#crop")
            input#crop.filter-block__input.filter-block__input--active(type="range", name="crop" min="0" max="100" value="50" step="1")

          .filter-block__wrapper
            label.filter-img(for="fill")
              svg(width="44" height="44")
                use(xlink:href="img/svg/sprite-filter.svg#fill")
            input#fill.filter-block__input(type="range", name="fill" min="0" max="100" value="50" step="1")

          .filter-block__wrapper
            label.filter-img(for="contrast")
              svg(width="44" height="44")
                use(xlink:href="img/svg/sprite-filter.svg#contrast")
            input#contrast.filter-block__input(type="range", name="contrast" min="0" max="100" value="50" step="1")

        .btn-block
          button.btn-block__button.btn-block__button--submit(type="submit") Запостить
          button.btn-block__button.btn-block__button--cancel Отменить
