extends common/layout

block var
  -var Фото

block append head
  link(rel="stylesheet", href="css/style.css")

block append link-list
    li.site-list__item
      a.site-list__link(href="index.html") Главная
    li.site-list__item
      a.site-list__link(href="") Фотографии
    li.site-list__item
      a.site-list__link(href="") Конкурс
    li.site-list__item
      a.site-list__link(href="") HTML Academy

block content
  main.photo-content
    h1.photo-content__header Фотографии пользователей
    p.photo-content__header-text Взгяните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

    section.photo-banner
      h2.visually-hidden Фотографии
      ul.gallery
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            //- <img src="img/mobile/photo/panorama-mobile.jpg" srcset="img/mobile/photo/panorama-mobile@2x.jpg 2x, img/mobile/photo/panorama-mobile@3x.jpg 3x" alt="Панорама" width="100%">
            picture
              source(media="(min-width: 320px)" srcset="img/mobile/photo/panorama-mobile@2x.jpg 2x, img/mobile/photo/panorama-mobile@3x.jpg 3x")
              source(media="(min-width: 660px" srcset="img/tablet/")
              img(src="img/mobile/photo/panorama-mobile.jpg" alt="Панорама" width="100%")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
        li.gallery__item.gallery__item--photo-day
          figure.gallery__block
            img.gallery__image(src="", alt="")
            figcaption.gallery__review.review
                .review__head
                  .review__left
                    span.review__name Анна
                    span.review__time (5 минут назад)
                  .review__right
                    span.review__like Нравится: 215
                p.review__text Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!








