$mediaWidthMobile: 320px;
$mediaWidthTablet: 660px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
$mediaWidthDesktop: 1200px;


// color block
$mainColor: #283645;
$bgColor: #1d2631;
$redColor: #d22856;
$greyColor: #485461;
$bgColor-light: #f2f2f2;
$borderColor: #fefefe;
