.app-wrapper {
  box-sizing: border-box;
  height: 340px;
  background-color: $bgColor-light;
  padding-top: 40px;
  padding-bottom: 52px;
}

@include media-tablet {
  .app-wrapper {
    order: 2;
    height: auto;
    background-color: #ffffff;
    padding: 0;
    padding-right: 22px;
    padding-left: 22px;
  }
}

@include media-desktop {
  .app-wrapper {
    padding-right: 132px;
    padding-left: 0;
    grid-area: app;
  }
}
