.btn-contest {
  align-self: stretch;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: $btnColor;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}
