.btn-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding-right: 22px;
  padding-left: 22px;
}

@include media-tablet {
  .btn-wrapper {
    align-items: center;
    flex-direction: row;
    order: 6;
    height: auto;
    padding-bottom: 54px;
  }
}

@include media-desktop {
  .btn-wrapper {
    padding-right: 132px;
    padding-left: 132px;
    grid-area: btn;
  }
}
