.contest-input {
  outline: none;
  border: 2px solid $lightGreyColor;
  color: $mainColor;
  font-size: 18px;
}

.contest-input::placeholder {
  color: $mainColor;
}

.contest-input--text {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;
}

.contest-input--hide {
  display: none;
}

@include media-tablet {
  .contest-input--contacts {
    order: 1;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 60px;
  }

  .contest-input--phone {
    background-image: url("../img/svg/phone.svg");
  }

  .contest-input--mail {
    background-image: url("../img/svg/mail.svg");
  }
}
