.form-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

@include media-tablet {
  .form-contacts {
    height: 230px;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@include media-desktop {
  .form-contacts {
    flex-direction: row;
    height: auto;
    padding-bottom: 22px;
  }
}
