.form-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 365px;
  padding-right: 20px;
  padding-bottom: 44px;
  padding-left: 20px;
}

@include media-tablet {
  .form-name {
    display: flex;
    flex-direction: column;
    order: 1;
    height: 291px;
    padding-bottom: 60px;
  }
}

@include media-desktop {
  .form-name {
    padding-right: 74px;
    padding-bottom: 0;
    padding-left: 132px;
    grid-area: name;
  }
}
