.form-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 365px;
  padding-right: 20px;
  padding-bottom: 44px;
  padding-left: 20px;
}
