@include media-tablet {
  .input-wrapper--name {
    display: flex;
    align-content: center;
  }

  .input-wrapper--contacts {
    display: flex;
    flex-direction: column;
  }
}

@include media-desktop {
  .input-wrapper--contacts {
    width: 371px;
  }
}
