.note-block {
  text-transform: uppercase;
  color: $mainColor;
  font-size: 14px;
}

.note-block__red {
  color: $redColor;
}

.note-block__hide {
  display: none;
}

@include media-desktop {
  .note-block__hide {
    display: inline;
  }
}
