.photo-content__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 235px;
  background: url("../img/mobile/photo/back-mobile-jpg.png") no-repeat;
  background-size: cover;
  padding-right: 76px;
  padding-left: 76px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}

.photo-content__header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 185px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  line-height: 2.14;
  color: $mainColor;
  font-weight: normal;
}

.gallery__item--photo-day {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    background-color: $redColor;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: normal;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    content: "Панорама дня";
  }
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__block {
  margin: 0;
  background-clip: content-box;
  background-color: $bgColor-light;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.gallery__review {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 17px;
  line-height: 24px;
  color: $mainColor;
}

.gallery__image img {
  display: block;
}

.review__name {
  font-size: 14px;
  font-weight: bold;
}

.review__time {
  font-size: 12px;
  font-weight: 300;
}

.review__like {
  display: inline-block;
  position: relative;
  left: 33px;
  order: 1;
  margin-top: 10px;
  width: calc(100% - 33px);
  text-transform: uppercase;
  color: $redColor;
  font-size: 12px;

  &::before {
    display: block;
    position: absolute;
    top: 6px;
    left: -33px;
    width: 13px;
    height: 12px;
    background: url("../img/svg/heart.svg") no-repeat;
    content: "";
  }
}

.review__text {
  margin: 0;
  font-size: 14px;
}

.review--photo-day {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: $bgColor-light;

  .review__head,
  .review__like,
  .review__text {
    padding: 0;
  }
}

.photo-content__slogan {
  text-align: center;
  line-height: 30px;
  color: $mainColor;
  font-size: 14px;
}

// -- photo-filter -- //
.photo-filter {
  background-color: $bgColor-light;
}

.img-filter img {
  box-sizing: border-box;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter-block {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 160px;
  border-bottom: 1px solid rgba($mainColor, 0.1);
  padding-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter-img {
  fill: rgba($mainColor, 0.3);
  cursor: pointer;

  &:hover {
    fill: rgba($mainColor, 0.5);
  }

  &:active {
    fill: $redColor;
  }
}

.filter-img--active {
  fill: $redColor;
}

.filter-block__input {
  display: none;
  position: absolute;
  bottom: 34px;
  left: 12.5vw;
  width: 75vw;
  outline: none;
  background-color: $bgColor-light;
  appearance: none;

  &::-webkit-slider-runnable-track {
    height: 2px;
    background-color: $mainColor;
  }

  &::-moz-range-track {
    height: 2px;
    background-color: $mainColor;
  }

  &::-webkit-slider-thumb {
    position: relative;
    bottom: 6px;
    width: 14px;
    height: 14px;
    border: 2px solid $redColor;
    border-radius: 50%;
    background-color: $bgColor-light;
    cursor: pointer;
    appearance: none;

    &:active {
      background-color: $redColor;
    }
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 2px solid $redColor;
    border-radius: 50%;
    background-color: $bgColor-light;
    cursor: pointer;

    &:active {
      background-color: $redColor;
    }
  }
}

.filter-block__input--active {
  display: block;
}

// -- btn-block -- //
.btn-block {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.btn-block__button {
  height: 55px;
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btn-block__button--submit {
  border-color: $redColor;
  color: $redColor;

  &:hover {
    background-color: $redColor;
    color: #ffffff;
  }

  &:active {
    background-color: $redColor;
    color: rgba(#ffffff, 0.3);
  }
}

.btn-block__button--cancel {
  border-color: rgba($mainColor, 0.1);
  background-color: #ffffff;
  color: rgba($mainColor, 0.1);

  &:hover {
    border-color: rgba($mainColor, 0.3);
    color: rgba($mainColor, 0.3);
  }

  &:active {
    border: none;
    background-color: rgba($mainColor, 0.3);
    color: rgba(#ffffff, 0.3);
  }
}

@include media-tablet {
  .photo-content__header {
    height: 440px;
    background: url("../img/tablet/photo/back-tablet.jpg") no-repeat;
    background-size: cover;
    padding-right: 156px;
    padding-left: 156px;
    font-size: 50px;
    font-weight: 300;
  }

  .photo-content__header-text {
    height: 230px;
    padding-right: 110px;
    padding-left: 110px;
    line-height: 30px;
    font-size: 18px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery__item {
    flex-basis: 300px;
  }

  .gallery__block {
    padding-right: 0;
    padding-left: 0;
  }

  .gallery__review {
    box-sizing: border-box;
    height: 155px;
  }
}
